[mysqld]
# Основные настройки
default-authentication-plugin=mysql_native_password
allow-public-key-retrieval=true

# Настройки кодировки
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Настройки подключения
bind-address=0.0.0.0
port=3306

# Логирование
general-log=1
general-log-file=/var/log/mysql/general.log

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
